<div class="container-fluid">

	<!-- Title Row-->
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2>CelebSpottr</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<!-- Photo panel-->
		<div class="col-md-9">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Select a photo
				</div>
				<div class="panel-body">
					Hello {{name}} this is a compiled template!

					<input type="file" id="file" name="file" accept=".jpg,.jpeg,.png"/>
					<output id="list"></output>

				</div>
			</div>
		</div>

		<!-- Side panel-->
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					
				</div>
				<div class="panel-body">
					
				</div>
			</div>
		</div>
	</div>
    
</div>

